/******************************
GENERAL SETUP
******************************/

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* base font size (to use rem calculations later) */
    /* example: 1rem === 10px, 1.5rem === 15px, 2rem === 20px, etc. */
    font-size: 10px;
}

/* TEMPORARY */
*{font-size: 2rem;}


/******************************
BODY & CONTAINER
******************************/

.container {
    margin: 0 auto;
    width: 60%;
    border: solid chocolate 1px;
}






